.header {
    display: flex;
}

.item a {
    color: blue;
    text-decoration: none;
}

.item a.active {
    color: fuchsia;
}

.item {
    margin: 5px;
}

.square {
    margin: 5px;
    width: 20px;
    height: 20px;
    background-color: forestgreen;
}

.header:hover {
    transform: translate(300px, 0) scale(2);
}
.header {
    transition: all 500ms ease-in-out;
    position: relative;
    width: 224px;
    height: 35px;
    left: -190px;
}